@{
    ViewData["Title"] = "Admin Page";
}

<h1>Hello</h1>
<a href="/admin/logout">Log-out</a>

<h3>Edit data:</h3>

<a href="/user">User</a>
<br />
<a href="/performance">Performance</a>
<br />
<a href="/role">Role</a>
<br />
<a href="/orchester">Orchestra</a>
<br />
<a href="/venue">Venue</a>
<br />

