@model orkesterapp.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Hello @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)</h4>
    <a></a>
</div>